.public-header {
    height: 110px;
}

.public-header .header-logo {
    float: left;
    margin-top: 40px;
    width: 182px;
    height: 54px;
    background: #3b3b3b;
}

.public-header .header-nav {
    float: right;
    font-size: 14px;
}

.public-header .header-nav .item {
    float: left;
    margin-top: 44px;
    margin-left: 50px;
}

.public-header .header-nav a {
    color: #3b3b3b;
}

.public-container {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.public-footer {
    height: 318px;
    background: #3b3b3b;
}